<?xml version="1.0"?>
<!-- Spawns traxxas in gazebo in a predefined world and launches movebase-to-control converter -->
<launch>

	<!-- Spawn F110 with a hokuyo in a world with walls -->
	<include file="$(find racecar_gazebo)/launch/racecar.launch">
		<arg name="world_name" value="track_levine"/>
  	</include>

  	<!-- Convert twist command velocity from movebase to ackermann commands. -->
  	<!-- <node pkg="traxxas_interface" type="cmd_vel_to_ackermann_drive.py" name=
  		"cmd_vel_to_ackermann_drive" output="screen"/> -->
  	

</launch>
