<launch>
  <arg name="rate" default="30.0"/>

  <node pkg="controller_adaptiveclbf" type="adaptive_clbf_node.py" name="adaptive_clbf" output="screen">
    <remap from="resiliency/odometry" to="/downward/vio/odometry" />
    <remap from="output" to="/ackermann_cmd" />
    <remap from="odometry_target" to="/odometry_goal" />
    <remap from="pose_target" to="/move_base_simple/goal" />
  </node>
</launch>
