<launch>
  <arg name="rate" default="30.0"/>
  <arg name="robot_namespace" default="xmaxx1"/>

  <node pkg="controller_adaptiveclbf" type="adaptive_clbf_node.py" name="adaptive_clbf" output="screen" ns="$(arg robot_namespace)">
    <!-- <remap from="odometry" to="hero/odometry" /> -->
    <remap from="odometry" to="camera/odom/sample" />
    <remap from="output" to="ackermann_cmd_openloop" />
    <remap from="odometry_target" to="odometry_goal" />
    <remap from="pose_target" to="move_base_simple/goal" />
    <remap from="joy_cmd" to="ackermann_cmd_joy" />
  </node>

    <!-- run pointcloud_to_laserscan node -->
  <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan" ns="$(arg robot_namespace)">
        <remap from="cloud_in" to="velodyne_points/local_obstacles"/>
        <param name="min_height" value="-1000.0"/>
        <param name="max_height" value="1000.0"/>
  </node>
</launch>
